p {
  color: white;
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  justify-content: space-between;
  background-color: rgb(134, 58, 227);
}

.left-section {
  margin-left: 13px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.left-section:hover {
  opacity: 0.7;
}

.left-section:active {
  opacity: 0.4
}

.search-bar {
  width: 350px;
  border-radius: 20px;
  border-style: solid;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  font-size: 12px;
}

.right-section {
  margin-right: 8px;
}

.download-button {
  background-color: rgb(134, 58, 227);
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}

.download-button:hover {
  background-color: white;
  color: rgb(134, 58, 227);
}

.download-button:active {
  opacity: 0.7;
}